<!DOCTYPE html>
<html>
  <head>
    <title>To Do Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
        <a href="{% url 'todo_item_create' %}">Create a new item</a>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
            {% for item in todo_lists %}
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.items.all|length }}</td>
              </tr>
            {% endfor %}
          </thead>
        </table>
      </div>
    </main>
  </body>
</html>
